@import 'normalize.css';

:root {
  --light-color: #ffffff;
  --black-color: #222222;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
  color: var(--light-color);
  background-color: var(--black-color);
}

.main {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 386px;
}

.link-reset {
  text-decoration: none;
  color: inherit;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.error {
  outline: 3px solid red !important;
}

.quiz {
  border: 1px solid #000;
  width: 600px;
  min-height: 100px;
  margin: 0 auto;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
}

.quiz__questions {
  text-align: center;
  margin-bottom: 20px;
}

.quiz-question {
  &__title {
    font-size: 25px;
    margin-bottom: 10px;
  }

  &__answers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  &__text {
    line-height: 100%;
  }

  &__answers input[type='text'] {
    width: 200px;
    height: 40px;
    padding-left: 10px;
  }

  &__btn {
    color: #fff;
    background-color: #000;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
}
